 @import 'partials/header';
 @import 'partials/login';
 @import 'partials/menu';
 @import 'partials/contact';
 @import 'partials/about';
 @import 'partials/skills';

 @font-face {
 	font-family: "Elianto";
 	src: url("fonts/Elianto-Regular.otf") format("truetype"),
 	url("fonts/Elianto-Regular.ttf") format("truetype");

 }
 .test{
 	border: 1px solid white;
 }
 @-ms-viewport {
 	width: device-width;
 	initial-scale: 1;
 }

 html, body {
 	height: 100%;
 	width: 100%;

 }

 body {

 	font-family:  'Elianto', monospace;
 	//background-color: pink;
 }


 h2 {
 	font-size : 1.9rem;
 }

 button {
 	cursor: pointer;
 }

 .alert {
 	position:fixed; 
 	top: 0px; 
 	left: 0px; 
 	width: 100%;
 	z-index:9999; 
 }

 
 #projects {
 	position: relative;
 	background-color: #4ccbe0;

 	h2{
 		color: white;
 		position: absolute;
 		top:50px;
 		left: 50%;
 		transform: translateX(-50%);
 	}
 }

 #resume-front {
 	background-color: white;
 	height: 100vh;
 	h2{
 		text-align: center;
 	}
 }

 @media screen and (max-height: 600px) and (max-width: 750px) {
 	#skills, #aboutMe {
 		height: 150vh;
 	}
 	.img-items-other, .img-items {
 		margin-top: 5%;
 	}
 }

 @media screen and (max-height: 350px) {
 	#skills, #aboutMe {
 		height: 150vh;
 	}
 	.img-items-other, .img-items {
 		margin-top: 5%;
 	}
 	#skills .img-items-other img {
 		width: 45px;
 	}
 	#skills .img-items img {
 		width: 55px;

 	}
 }

 @media (min-width: 768px) {
 	.pull-right-sm {
 		float: right !important; 
 	}
 }
 @media (min-width: 992px) {
 	.pull-right-md {
 		float: right !important; 
 	}
 }
 @media (min-width: 1200px) {
 	.pull-right-lg {
 		float: right !important; 
 	}
 }
 .cover {
 	padding: 10% 0 10% 0; 
 }
 .cover.top {
 	padding: 15% 0 10% 0;
 	height: 100vh;
 	display: flex;
 	background-color: #25b79f; 
 }
 .cover.bottom {
 	padding: 10% 0 10% 0; 
 }



 #portfolio img{
 	width: 100%; 
 }


 .col-img {
 	display: flex;
 	align-items: center;
 }

 @media screen and (min-width: 768px) {
 	.portfolio-projects {
 		margin-top: 0.625em; 
 	} 
 }

 @media screen and (min-width: 1200px) {
 	.portfolio-projects--title {
 		margin-top: 5%; 
 	} 
 }

 @media screen and (min-width: 768px) {
 	.portfolio-projects--desc {
 		margin-top: 10%;
 		margin-bottom: 10%; 
 	} 
 }
 .portfolio-projects--btn {
 	background: transparent;
 	color: white;
 	border: 1px solid white;
 	border-radius: 2px;
 	margin-bottom: 1em; 
 	padding: 5px 25px 5px 25px;
 }
 .portfolio-projects--btn:hover {
 	background: white;
 	color: #4ccbe0; 
 }
 .portfolio-projects--image {
 	margin-bottom: 1.875em;
 	padding-top: 5%; 
 }


 @media screen and (max-width: 768px) {
 	.portfolio-projects {
 		margin-top: 10%;
 	}
 }

 @media screen and (max-width: 400px) {
 	.portfolio-projects {
 		margin-top: 15%;
 	}
 }

 @media screen and (max-width: 992px) {
 	.col-lg-6 > .row {
 		padding-top: 10% !important;
 	}
 }

 @media screen and (max-width: 574px) {
 	#portfolio img{
 		width: 90%;
 		margin: auto; 
 	}
 }

  @media screen and (max-width: 1200px) {
 	#portfolio h3{
 		font-size: 1.55rem;
 	}
 }
