@import 'partials/header';
@import 'partials/login';
@import 'partials/menu';
@import 'partials/contact';
@import 'partials/about';
@import 'partials/skills';
@import 'partials/projects';

@font-face {
	font-family: "Elianto";
	src: url("fonts/Elianto-Regular.otf") format("truetype"),
	url("fonts/Elianto-Regular.ttf") format("truetype");

}
.test{
	border: 1px solid white;
}
@-ms-viewport {
	width: device-width;
	initial-scale: 1;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family:  'Elianto', monospace;
	//background-color: pink;
}

h2 {
	font-size : 1.9rem;
}

button {
	cursor: pointer;
}

.alert {
	position:fixed; 
	top: 0px; 
	left: 0px; 
	width: 100%;
	z-index:9999;
	text-align: center;
}

#resume-front {
	background-color: white;
	height: 100vh;
	h2{
		text-align: center;
	}
}

@media screen and (max-height: 600px) and (max-width: 750px) {
	#skills, #aboutMe {
		height: 150vh;
	}
	.img-items-other, .img-items {
		margin-top: 5%;
	}
}

@media screen and (max-height: 350px) {
	#skills, #aboutMe {
		height: 150vh;
	}
	.img-items-other, .img-items {
		margin-top: 5%;
	}
	#skills .img-items-other img {
		width: 45px;
	}
	#skills .img-items img {
		width: 55px;

	}
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 80px;
}
#caption1 {
	margin: auto;
	display: block;
	width: 95%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption, #caption1 { 
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

/* The Close Button */
._close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

._close:hover,
._close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
}
.rc-anchor-invisible-text {
	z-index: -555555555 !important;
}