@import 'partials/header';
@import 'partials/login';
@import 'partials/menu';
@import 'partials/contact';
@import 'partials/about';
@import 'partials/skills';
@import 'partials/projects';

@font-face {
	font-family: "Elianto";
	src: url("fonts/Elianto-Regular.otf") format("truetype"),
	url("fonts/Elianto-Regular.ttf") format("truetype");

}
.test{
	border: 1px solid white;
}
@-ms-viewport {
	width: device-width;
	initial-scale: 1;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family:  'Elianto', monospace;
	//background-color: pink;
}

h2 {
	font-size : 1.9rem;
}

button {
	cursor: pointer;
}

.alert {
	position:fixed; 
	top: 0px; 
	left: 0px; 
	width: 100%;
	z-index:9999; 
}

#resume-front {
	background-color: white;
	height: 100vh;
	h2{
		text-align: center;
	}
}

@media screen and (max-height: 600px) and (max-width: 750px) {
	#skills, #aboutMe {
		height: 150vh;
	}
	.img-items-other, .img-items {
		margin-top: 5%;
	}
}

@media screen and (max-height: 350px) {
	#skills, #aboutMe {
		height: 150vh;
	}
	.img-items-other, .img-items {
		margin-top: 5%;
	}
	#skills .img-items-other img {
		width: 45px;
	}
	#skills .img-items img {
		width: 55px;

	}
}

// @media (min-width: 768px) {
// 	.pull-right-sm {
// 		float: right !important; 
// 	}
// }
// @media (min-width: 992px) {
// 	.pull-right-md {
// 		float: right !important; 
// 	}
// }
// @media (min-width: 1200px) {
// 	.pull-right-lg {
// 		float: right !important; 
// 	}
// }
