 @import 'partials/header';
 @import 'partials/admin';
 @import 'partials/login';
 @import 'partials/menu';
 @import 'partials/contact';

@font-face {
	font-family: "Elianto";
	src: url("fonts/Elianto-Regular.otf") format("truetype"),
		url("fonts/Elianto-Regular.ttf") format("truetype");

}

@-ms-viewport {
  width: device-width;
  initial-scale: 1;
}

html, body {
	height: 100%;
	width: 100%;

}

body {
	
	font-family:  'Elianto', monospace;
	//background-color: pink;
}

section {
	height: 100vh;
}

.alert {
	position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
}

#about {
	background-color: white;
}

#projects {
	background-color: grey;
}

#skills {
	background-color: #21a8bf;
}

#resume-front {
	background-color: white;
	height: 100vh;
}
