#contact{
	background-color: #21a8bf;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	
	h2{
		color: white;
		text-align: center;

	}
}
.icon-bottom{
	position: absolute;
	display: flex;
	justify-content: space-around;
	height: 50px;
	width: 100%;
	bottom: 3vh;
}
.git-bottom, .link-bottom, .none-bottom{
	width: 5vh;
	height: auto;
}

.git-bottom:hover, .link-bottom:hover{
	transform: scale(1.2);
}

.none-bottom{
	visibility: hidden;
}
#form{
	width: 70%;
	height: 65%;
	align-self: center;

	label{
	margin-bottom: 5%;
	color: white;

		input, textarea{
			margin-top: 2%;
		}
	}
}


#full{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#message_email{
	font-size: 20px;
	line-height: 48px;
	width: 100%;
	height: 5vh;
	border-radius: 3px;
}

#message_message{
	resize: none;
	width: 100%;
	height: 25vh;
	border-radius: 3px;
}

.btn-send{
	width: 30%;
	margin: auto;
	padding: 2px;
	background: white;
	color: #21a8bf;
	border: none;
	font-size: 25px;
	text-transform: uppercase;
	border-radius: 3px;
}

@media screen and (max-width: 850px) {
	#form{
		width: 80%;
		height: 65%;
	}
}

@media screen and (max-width: 600px) {
	.btn-send{
		padding: 5px;
	}
}

@media screen and (max-width: 450px) {
	.btn-send{
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	#contact{
		h2{
			padding-top: 5%;
		}
	}
}
@media screen and (max-height: 420px) {
	.icon-bottom{
		bottom: -10px;
	}
	.btn-send{
		width: 20%;
		padding: 0;
		display: block;
		font-size: 1em;
	}
	#form{
		height: 40%;
		margin-top: -70vh;

		label{

			input, textarea{
				margin-top: 5px;
			}
		}
	}
	#message_email{
		height: 7vh;
	}
	#contact{
		h2{
			margin-top: -30vh;
		}
	}
}