#projects {
	position: relative;
	background-color: #4ccbe0;
	overflow: hidden;

	h2{
		color: white;
		position: absolute;
		top:50px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.cover {
	padding: 10% 0 5% 0; 
}
.cover.top {
	padding: 15% 0 10% 0;
	height: 100vh;
	display: flex;
	background-color: #25b79f; 
}
.cover.bottom {
	padding: 10% 0 10% 0; 
}



#portfolio img{
	width: 100%; 
}


.col-img {
	display: flex;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.portfolio-projects {
		margin-top: 0.625em; 
	} 
}

@media screen and (min-width: 1200px) {
	.portfolio-projects--title {
		margin-top: 5%; 
	} 
}

@media screen and (min-width: 768px) {
	.portfolio-projects--desc {
		margin-top: 10%;
		margin-bottom: 10%; 
	} 
}
.portfolio-projects--btn {
	// background: transparent;
	// color: white;
	// border: 1px solid white;
	//border: 2px solid #4ccbe0;
	background: white;
	color: #4ccbe0;
	border: none;
	border-radius: 2px;
	margin-bottom: 1em; 
	padding: 5px 25px 5px 25px;

	&:hover {
		// background: white;
		// color: #4ccbe0; 
		background: #4ccbe0;
		color: white;
		border: 2px solid white;
		padding: 3px 23px 3px 23px;
	}
}

.portfolio-projects--image {
	margin-bottom: 1.875em;
	padding-top: 5%; 
}


@media screen and (max-width: 768px) {
	.portfolio-projects {
		margin-top: 10%;
	}
}

@media screen and (max-width: 400px) {
	.portfolio-projects {
		margin-top: 15%;
	}
}

@media screen and (max-width: 992px) {
	.col-lg-6 > .row {
		padding-top: 10% !important;
	}

}

@media screen and (max-width: 574px) {
	#portfolio img{
		width: 90%;
		margin: auto; 
	}
}

@media screen and (max-width: 1200px) {
	#portfolio h3{
		font-size: 1.55rem;
	}
}
.btn-more{
	width: 25%;
	margin: auto;
	background: #4ccbe0;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 3px;
	border: 2px solid white;
	transition: all 0.5s ease;
	padding-bottom: 4px;
	padding-top: 6px;
	margin-bottom: 30px;


	&:hover{
		background: white;
		color: #4ccbe0;
		border: 2px solid #4ccbe0;

	}
}
.more {
		text-align: center;
}